.app-sidebar {
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: calc(100vh - 96px);
    z-index: 10;
    width: 250px;
    overflow: hidden auto;
    padding: 1rem .5rem;
}

.app-sidebar .menu-list {
    margin: 2rem 0;
}

.app-sidebar .menu-list > h2 {
    margin-bottom: 1rem;
}

.app-sidebar .menu-list .box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

.sidebar-toggler {
    visibility: hidden;
}

@media (max-width: 900px) {
    .app-sidebar {
        max-width: 100vw;
        padding: 1rem;
        transition: transform .5s ease-in-out;
    }

    .app-sidebar.closed {
        transform: translateX(-100%);
    }

    .sidebar-toggler {
        visibility: visible;
        position: absolute;
        top: .5rem;
        left: .5rem;
        box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, .3);
        font-size: 1.5rem;
        cursor: pointer;
        background-color: #333;
        color: #ccc;
        z-index: 100;
        padding: .1rem .5rem;
        border-radius: 20px;
    }

    .sidebar-toggler:hover {
        background-color: #000;
        transition: background-color .2s ease-in-out;
    }

    .app-sidebar.closed ~ .sidebar-toggler {
        left: 0;
        right: auto;
        top: 0;
        height: calc(100vh - 96px);
        border-radius: 0;
        display: flex;
        align-items: center;
        box-shadow: none;
    }
}